<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:action="@{/update/{id}(id=${note.getId})}" th:object="${note}" method="post">

    <label for="id">Id</label>
    <input type="text" id="id" th:field="*{id}" readonly/>

    <label for="patientId">PatientId</label>
    <input type="text" id="patientId" th:field="*{patientId}"/>

    <label for="noteOfThePractitioner">NoteOfThePractitioner</label>
    <textarea id="noteOfThePractitioner" rows="20" cols="50" th:field="*{noteOfThePractitioner}"></textarea>

    <button type="submit">Submit</button>
    <a th:href="@{/}">Cancel</a>
</form>
</body>
</html>